{% extends 'base.html' %}

{% block title %}
{{name}}
{% endblock %}

{% block content %}
<div class="crypto_info">
    <h3><img class="logo" src="{{image}}"><span class="name">{{name}}</span></h3>
    <p>Ціна {{price}} - USD</p>
    <p>Зміна ціни 24h {{price_change_24h}} %</p>
    <p>Капіталізація {{market_cap}} - USD</p>
</div>
<h3>Exchange</h3>
<div class="exchange">
        {% for key, value in exchange.items %}
        <div class="market-box">
        <h2 class="title-exch">{{ key }}</h2>
        {% for pair, link in value.items %}
            <a class="market-item" href="{{ link }}">{{ pair }}</a><span>  </span>
        {% endfor %}
        </div>
        {% endfor %}
</div>
{% endblock %}
